.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
  }
  
  
  .signup-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: rgb(240, 240, 240);
  }
  
  .logout:hover {
    cursor: pointer;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .icon {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .email-input,
  .password-input,
  .confirm-password-input,
  .name-input, .role-select, .contact-input {
    flex: 1;
  }
  
  .input__base {
    width: 94%;
    padding-left: 0.2em;
    border-right: 1px solid #3f51b5;
  }

  .role-select{
    width: 100%;
    border: none;
    border-bottom: 1px solid grey;
  }

  .role-select:hover, .role-select:focus{
    border: none;
    border-bottom: 1px solid grey;
    outline: none;
  }

  