.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-links {
    display: flex;
    align-items: center;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .auth-links {
    display: flex;
    align-items: center;
  }
  
  .auth-links a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin-left: 20px;
  }