/* CreateOrder.css */

.form-container {
    margin: 0 auto;
    text-align: -webkit-center;
    padding-bottom: 1.2rem;
}

.form-field {
    margin: 0px 20px 10px 0px !important;
}

.form-field:last-child{
    grid-column: span 2;
}



.checkout-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-top: 20px;
    gap: 1.5rem;
    padding-bottom: 1.5rem;
}

.shipping-address {
    width: 70%;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.shipping-address form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}



.product-info {
    width: 30%;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-info img {
    max-width: 100%;
    height: auto;
}

.product-info h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.product-info h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.product-info p {
    font-size: 18px;
}

.product__img{
    border: 1px solid #ccc;
    border-radius: 1.5rem;
    overflow: hidden;
    display: flex;
}

.product__details{
    text-align: left;
    margin-top: 0.7rem;
}

.orderproduct__content{
    width: 100%;
}

.product__details h5{
    text-align: center;
}

.product__details h6{
    display: flex;
    justify-content: space-between
}

.product__details h2{
    display: flex;
    justify-content: space-between
}


.product__img img {
    width: 100%;
    height: 200px;
    object-fit: scale-down;
}



/* Style your form fields, buttons, and other elements as needed */